# Core
kafka-python

# Data handling
pandas
numpy==1.23.5


# ML / Anomaly Detection
scikit-learn
statsmodels
torch
tensorflow
pytorch-lightning

# Visualization / Dashboards
matplotlib
seaborn
plotly
streamlit

# Explainability & Causal
shap
lime
dowhy
causalnex

# Orchestration / Utilities
pydantic
fastapi
